@page "/"

<PageTitle>Dashboard</PageTitle>

<div class="d-block">
    <div class="row text-center text-white">
        <h1>Dashboard
            <a class="btn btn-dark float-end" href="/sensoredit/">
                <i class="fa-solid fa-plus"></i>
            </a>
        </h1>
    </div>

</div>

<div class="row row-cols-auto g-4 py-3 justify-content-center">
    @foreach (var sensor in Sensors)
    {
        var lastReadingData = sensor.SensorData.Count > 0 ? $"{sensor.SensorData.First().Data} ° C" : "Nothing yet..";
        var lastReadingTime = sensor.SensorData.Count > 0 ?
        $"Last updated {DateTime.Now.ToShortTimeString()}" : "Recently created";

        <div class="col">
            <div class="card">
                <div class="card-body justify-content-between">
                    <div class="d-inline-flex">
                        @{
                            var isOnline = sensor.Status == SensorStatus.Online;
                        }
                        <h5 class="card-title me-4 pt-2">
                            <SensorStatusIcon IsOnline=@isOnline></SensorStatusIcon>
                            @sensor.Name
                        </h5>
                        <div class="form-check form-switch pt-2">
                            <input class="form-check-input" @onchange="(e) => ToggleSensor(e.Value!, sensor)"
                                type="checkbox" id="onlineSwitch" checked="@isOnline">
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="name">@sensor.SensorType.Name</span>
                        <span class="subtext">@sensor.SensorType.Description</span>
                    </li>
                    <li class="list-group-item">
                        <span class="name">@sensor.Location.City</span>
                        <span class="subtext">@sensor.Location.Country</span>    
                    </li>
                    @if (sensor.SensorType.Name == "Temperature Sensor")
                    {
                        <li class="list-group-item">
                            <span class="name">Reading</span>
                            <span class="subtext">@lastReadingData</span>    
                        </li>
                    }
                    <li class="list-group-item">
                        <div class="pt-1">
                            <a class="btn btn-dark btn-sm" href="@($"/sensordetails/{sensor.Id}")">
                                <i class="fa-solid fa-chart-line"></i>
                            </a>
                            <a class="btn btn-dark btn-sm" href="@($"/sensoredit/{sensor.Id}")">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button class="btn btn-outline-danger btn-sm float-end" @onclick="() => DeleteSensor(sensor)">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>  
                    </li>
                </ul>
                <div class="card-footer">
                    <small class="text-dark">@lastReadingTime</small>
                </div>
            </div>
        </div>
    }
</div>

    
 